*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    
    body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    ul{
      list-style:none;
    }
    
    a{
    text-decoration: none;
    }
    
    /*Header*/
    header{
      background-color:white ;
      height: 100vh;
    }
    
    header .navbar{
    background-color:white ;
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%;
    padding:1.5rem 2rem ;
    }
    
    header .navbar nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    }
    
    #home #logo{
    color:#163D5D ;
    font-size: 24px;
    font-weight: 600;
    
    }
    
    header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items:center ;
    }
    
    header .navbar nav ul a {
      margin: 0 15px;
      color: #163D5D ;
      font-weight:600 ;
      padding: 9px ;
    }
    
    nav img{
    width:50px;
    vertical-align: middle;
    margin: 0 15px;
    }
    
    header .navbar nav ul a:hover {
      border-bottom: 3px solid #a0efee;
    }
    
    
    
    
    
    .picture{
    background-image:url(../image/im.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    }
    
    header .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    }
    
    header .content h1{
      color: #3e7070;
      font-size: 66px;
    }
    .footer-s {
      background-color: #163D5D;
      color: white;
      text-align: center;
      padding: 10px;
    }
    